<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917212064732-pm9e2emt38ovrr31ljm5q74i880vr1m5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917212064732-pm9e2emt38ovrr31ljm5q74i880vr1m5</string>
	<key>API_KEY</key>
	<string>AIzaSyA72p--o2lBn4FB6DoMs9Fj-QEwZLPYOTk</string>
	<key>GCM_SENDER_ID</key>
	<string>917212064732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaarthu.Google-Authentication</string>
	<key>PROJECT_ID</key>
	<string>auth-60e6c</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-60e6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917212064732:ios:3518fe75b37b8c82be3d19</string>
</dict>
</plist>